* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: black;
}

.body {
    font-family: 'Lalezar', cursive;
    
}

header {
    width: 100%;

    background:black;
    color: white;
    position: fixed;

    left: 0;
    z-index: 100%;
    border-bottom: 1px solid white;

}


.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: change 20s infinite alternate;
}

.slider li {
    list-style: none;
    width: 100%;
    
}

.slider img {
    width: 100%;
    margin: 0;
    padding: 0;
}

@keyframes change {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.contain{
    width: auto;
    background: black;

}

h1 {
    float: left;
    transform: translateX(3%);
    padding: 6.4px; 
    color: white;
}



.main-bar {
    position: absolute;
    width: auto;
    height: auto;
    float: left;
    display: flex;
    transform: translateX(100%);
    border-bottom: 1px solid white;
}

.main-bar a {
    display: block;
    color: white;
    height: 50px;
    padding: 15px;
    border-bottom: 1px;
}

.main-bar a:hover{
    color: wheat;
    border-bottom: 4px solid wheat;
    
}

.article {
    
    border-bottom: 1px solid white;
}

.margin-img {
    background:black;
    color: white;
    padding: 2px;
    text-align: center;
    margin-top: 1px;
    margin: 150px;
    border: 4px solid white;
}

.txt {
    margin-bottom: 5px;
    background:black;
}

h2 {
    background:black;
}

footer {
    background: gray;
    padding: 30px;
    
}

.contacsocial {
    background: gray;
}

.contacsocial a {
    font-size: 28px;
    color: white;
    padding:8px;
    border: 4px solid white;
}

.contacsocial a:hover{
    color: wheat;
   
}

