* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    
    font-family: 'Merriweather', serif;
}

.logo-menu {
    background: black;
}
    .logo-menu .menu a {
        display: inline-block;
        padding: 40px 10px;
    }

    .logo-menu .menu a:hover {
        border-bottom: 4px solid wheat;
        padding-bottom: 36px;
    }

nav a {
    color: white;
    text-decoration: none;
    
}

    nav a:hover {
        color: wheat;
    }

.section {
    background: rgba(0, 0, 0, 0.85);
}

.footer{
    padding: 30px;
    background: black;
}

.contacsocial a {
    font-size: 28px;
    color: white;
    padding: 0 1px;
}

.contacsocial a:hover{
    color: wheat;
}


